
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.f-7M6 {
  box-sizing: border-box;
  padding: 0rem 1.2rem 0rem 2.6rem;
  width: 100%;
  height: 111.7rem;
  overflow: hidden;
  position: relative;
  background-color: #f0ba6b;
}
.f-7M6 .frame-2-qH6 {
  box-sizing: border-box;
  padding: 6.6rem 1.2rem 0rem 5.2rem;
  width: 100%;
  height: 115.7rem;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.f-7M6 .frame-2-qH6 .auto-group-1yue-MWL {
  margin: 0rem 0rem 6rem 0.8rem;
  width: calc(100% - 0.8rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.f-7M6 .frame-2-qH6 .auto-group-1yue-MWL .auto-group-d8gl-tWG {
  margin: 0rem 9.7rem 5.5rem 0rem;
  width: 44.5rem;
  height: 12.8rem;
  display: flex;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.19;
  color: #462323;
  font-family: Poly, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(70, 35, 35, 0.1299999952);
  flex-shrink: 0;
}
.f-7M6 .frame-2-qH6 .auto-group-1yue-MWL .zalika-website-banner-jewelry-1-M8x {
  width: 107.6rem;
  height: 57rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.f-7M6 .frame-2-qH6 .auto-group-yfgg-xPe {
  width: 100%;
  height: 52.1rem;
  position: relative;
  flex-shrink: 0;
}
.f-7M6 .frame-2-qH6 .auto-group-yfgg-xPe .frame-3-7GY {
  width: 161.8rem;
  height: 24.7rem;
  position: absolute;
  left: 0.8rem;
  top: 1.4rem;
  overflow: hidden;
}
.f-7M6 .frame-2-qH6 .auto-group-yfgg-xPe .line-1-qyE {
  width: 61.6rem;
  height: 0.1rem;
  position: absolute;
  left: 47.2rem;
  top: 34.7rem;
  background-color: #462323;
}
.f-7M6 .frame-2-qH6 .auto-group-yfgg-xPe .frame-10-mbz {
  box-sizing: border-box;
  padding: 2.7rem 0;
  width: 156rem;
  height: 52.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.f-7M6 .frame-2-qH6 .auto-group-yfgg-xPe .frame-10-mbz .welcome-to-mahwishs-jewelery-store-we-proudly-showcases-its-exciting-new-range-of-stylish-925-silver-jewellery-including-our-production-collection-and-silver-band-ring-collection-all-widths-all-sizes-our-designs-sell-well-helping-you-get-the-quickest-return-on-your-initial-wholesale-investment-our-range-is-made-from-the-finest-925-solid-silver-and-complimented-with-a-variety-of-stones-we-also-offer-a-beautiful-range-of-high-quality-designer-silver-jewellery-which-makes-them-stand-apart-from-the-competition-all-orders-are-shipped-directly-from-thailand-with-care-and-true-customer-satisfactioninmind-WJg {
  max-width: 186rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.19;
  color: #000000;
  font-family: Poly, 'Source Sans Pro';
}
.f-7M6 .frame-2-qH6 .auto-group-yfgg-xPe .frame-10-mbz .welcome-to-mahwishs-jewelery-store-we-proudly-showcases-its-exciting-new-range-of-stylish-925-silver-jewellery-including-our-production-collection-and-silver-band-ring-collection-all-widths-all-sizes-our-designs-sell-well-helping-you-get-the-quickest-return-on-your-initial-wholesale-investment-our-range-is-made-from-the-finest-925-solid-silver-and-complimented-with-a-variety-of-stones-we-also-offer-a-beautiful-range-of-high-quality-designer-silver-jewellery-which-makes-them-stand-apart-from-the-competition-all-orders-are-shipped-directly-from-thailand-with-care-and-true-customer-satisfactioninmind-WJg .welcome-to-mahwishs-jewelery-store-we-proudly-showcases-its-exciting-new-range-of-stylish-925-silver-jewellery-including-our-production-collection-and-silver-band-ring-collection-all-widths-all-sizes-our-designs-sell-well-helping-you-get-the-quickest-return-on-your-initial-wholesale-investment-our-range-is-made-from-the-finest-925-solid-silver-and-complimented-with-a-variety-of-stones-we-also-offer-a-beautiful-range-of-high-quality-designer-silver-jewellery-which-makes-them-stand-apart-from-the-competition-all-orders-are-shipped-directly-from-thailand-with-care-and-true-customer-satisfactioninmind-WJg-sub-0 {
}
.f-7M6 .frame-2-qH6 .auto-group-yfgg-xPe .frame-10-mbz .welcome-to-mahwishs-jewelery-store-we-proudly-showcases-its-exciting-new-range-of-stylish-925-silver-jewellery-including-our-production-collection-and-silver-band-ring-collection-all-widths-all-sizes-our-designs-sell-well-helping-you-get-the-quickest-return-on-your-initial-wholesale-investment-our-range-is-made-from-the-finest-925-solid-silver-and-complimented-with-a-variety-of-stones-we-also-offer-a-beautiful-range-of-high-quality-designer-silver-jewellery-which-makes-them-stand-apart-from-the-competition-all-orders-are-shipped-directly-from-thailand-with-care-and-true-customer-satisfactioninmind-WJg .welcome-to-mahwishs-jewelery-store-we-proudly-showcases-its-exciting-new-range-of-stylish-925-silver-jewellery-including-our-production-collection-and-silver-band-ring-collection-all-widths-all-sizes-our-designs-sell-well-helping-you-get-the-quickest-return-on-your-initial-wholesale-investment-our-range-is-made-from-the-finest-925-solid-silver-and-complimented-with-a-variety-of-stones-we-also-offer-a-beautiful-range-of-high-quality-designer-silver-jewellery-which-makes-them-stand-apart-from-the-competition-all-orders-are-shipped-directly-from-thailand-with-care-and-true-customer-satisfactioninmind-WJg-sub-1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.19;
  color: #462323;
  font-family: Poly, 'Source Sans Pro';
}
